.DS_Store
fdimage0.bin
*/*/haribote.sys
*/*/haribote.img
*/*/bootpack.hrb
*/*/*.lst
*/*/*.bin
*.lst
*.bin
*/*/*.o
*/*/haribote.sys
ZZ_day/haribote/hankaku.c
.vscode/settings.json
ZZ_day/haribote/asmhead.lst
ZZ_day/haribote/asmhead.bin
ZZ_day/haribote/hlt.hrb
ZZ_day/haribote/bootpack.map
ZZ_day/haribote/hello.hrb
ZZ_day/haribote/hello2.hrb
ZZ_day/haribote/a.hrb
ZZ_day/haribote/a.map
ZZ_day/haribote/hello2.hrb
ZZ_day/haribote/hello3.hrb
ZZ_day/haribote/hello3.map
ZZ_day/haribote/hello2.hrb
ZZ_day/haribote/crack1.map
ZZ_day/haribote/crack1.hrb
ZZ_day/haribote/crack2.hrb
ZZ_day/haribote/hello2.hrb
ZZ_day/haribote/crack3.hrb
